<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('header.ejs'); -%>
    <title>Inventario</title>
</head>
<body>
    <%- include('nav.ejs'); -%>

    <div class="row mt-4 mb-4 ml-1 mr-1 justify-content-around">
        <div class="col-md-8 col-sm-12 col-lg-8 div-inve  mb-2">
            1
             <div class="col-md-12">
                <ul class="nav nav-tabs border-tab" id="myTab" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link nav-link2 active " id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Items</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link nav-link2" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Retiros</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link nav-link2" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Historial</a>
                  </li>
                </ul>
            
                <div class="tab-content bg-market2 border-mar2 " id="myTabContent">
                  <div class="tab-pane fade show active m-2 " id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="row justify-content-start ml-1 mr-1 mr-1 text-center">
                      <div class="col-md-3 div-items mr-lg-4 ml-lg-4 mb-4 bg-market border-mar">
                        <% if(diamantes > 0){ %>
                          <img src="/img/cofre.png" class="img-fluid img-inventario mt-3" alt="">
                            <h6 class="card-title text-light h5-inventario">COFRES  </h6>
                            <button class="btn btn-market mt-1 text-light  btn-comprar btn-size" id="diamantes">
                               Abrir <strong class="strong-inve">1/<%= diamantes%></strong>
                            </button>
                            <% }else{%>
                              <div class="container" >
                                <div class="row align-items-center row-inventario" >
                                  <div class="col">
                                    <h4><i class="fas fa-bug text-light"></i></h4>
                                    <h5 class="h4-inventario text-light">No tienes Cofres </h5>
                                  </div>
                                </div>
                                
                              </div>
                              
                            <%} %>
                      </div>
                      <div class="col-md-3 div-items mr-lg-4 ml-lg-4 mb-4 bg-market border-mar">
                        <% if(ticket > 0){ %>
                          <img src="/img/ticket3.png" class="img-fluid img-inventario mt-3" alt="">
                            <h6 class="card-title text-light h5-inventario">Tickets  </h6>
                            <button class="btn btn-market mt-1 text-light  btn-comprar btn-size" id="ticket">
                              Usar <strong class="strong-inve"><%= ticket%>/<%= ticket%></strong>
                            </button>
                            <% }else{%>
                              <div class="container" >
                                <div class="row align-items-center row-inventario" >
                                  <div class="col">
                                    <h4><i class="fas fa-bug text-light"></i></h4>
                                    <h5 class="h4-inventario text-light">No tienes Tickets</h5>
                                  </div>
                                </div>
                                
                              </div>
                              
                            <%} %>
                      </div>

                      <div class="col-md-3 div-items mr-lg-4 ml-lg-4 mb-4 bg-market border-mar">
                        <% if (xp > 0){ %>
                          <img src="/img/xp.png" class="img-fluid img-inventario mt-3" alt="">
                            <h6 class="card-title text-light h5-inventario">XP  </h6>
                            <button class="btn btn-market mt-1 text-light  btn-comprar btn-size" id="xp">
                              Usar <strong class="strong-inve"><%= xp%>/<%=xp%></strong>
                            </button>
                            <% }else{%>
                              <div class="container" >
                                <div class="row align-items-center row-inventario" >
                                  <div class="col">
                                    <h4><i class="fas fa-bug text-light"></i></h4>
                                    <h5 class="h4-inventario text-light">No tienes XP</h5>
                                  </div>
                                </div>
                                
                              </div>
                              
                            <%} %>
                      </div>
                      
                          <div class="col-md-3 div-items mr-lg-4 ml-lg-4 mb-4 bg-market border-mar">
                            <% if(tesoro1 > 0){ %>
                              <img src="/img/tesoro.png" class="img-fluid img-inventario mt-3" alt="">
                                <h6 class="card-title text-light h5-inventario">Tesoro #1 </h6>
                                <button class="btn btn-market mt-1 text-light  btn-comprar btn-size" id="tesoro1">
                                   Abrir <strong class="strong-inve">1/<%= tesoro1%></strong>
                                </button>
                                <% }else{%>
                                  <div class="container" >
                                    <div class="row align-items-center row-inventario" >
                                      <div class="col">
                                        <h4><i class="fas fa-bug text-light"></i></h4>
                                        <h5 class="h4-inventario text-light">No tienes Tesoros #1</h5>
                                      </div>
                                    </div>
                                    
                                  </div>
                                  
                                <%} %>
                          </div>

                          <div class="col-md-3 div-items mr-lg-4 ml-lg-4 mb-4 bg-market border-mar">
                            <% if(tesoro2 > 0){ %>
                              <img src="/img/tesoro2.png" class="img-fluid img-inventario mt-3" alt="">
                                <h6 class="card-title text-light h5-inventario">Tesoro #2</h6>
                                <button class="btn btn-market mt-1 text-light  btn-comprar btn-size" id="tesoro2">
                                  Abrir <strong class="strong-inve">1/<%= tesoro2%></strong>
                                </button>
                                <% }else{%>
                                  <div class="container" >
                                    <div class="row align-items-center row-inventario" >
                                      <div class="col">
                                         <h4><i class="fas fa-bug text-light"></i></h4>
                                        <h5 class="h4-inventario text-light">No tienes Tesoros #2</h5>
                                      </div>
                                    </div>
                                    
                                  </div>
                                  
                                <%} %>
                          </div>

                          <div class="col-md-3 div-items mr-lg-4 ml-lg-4 mb-4 bg-market border-mar">
                            <% if(tesoro3 > 0){ %>
                              <img src="/img/tesoro3.png" class="img-fluid img-inventario mt-3" alt="">
                                <h6 class="card-title text-light h5-inventario">Tesoro #3</h6>
                                <button class="btn btn-market mt-1 text-light  btn-comprar btn-size" id="tesoro3">
                                  Abrir <strong class="strong-inve">1/<%= tesoro3%></strong>
                                </button>
                                <% }else{%>
                                  <div class="container" >
                                    <div class="row align-items-center row-inventario" >
                                      <div class="col">
                                         <h4><i class="fas fa-bug text-light"></i></h4>
                                        <h5 class="h4-inventario text-light">No tienes Tesoros #3</h5>
                                      </div>
                                    </div>
                                    
                                  </div>
                                  
                                <%} %>
                          </div>

                          <div class="col-md-3 div-items mr-lg-4 ml-lg-4 mb-4 bg-market border-mar">
                            <% if(tesoro4 > 0){ %>
                              <img src="/img/ticket3.png" class="img-fluid img-inventario mt-3" alt="">
                                <h6 class="card-title text-light h5-inventario">Tesoro #4</h6>
                                <button class="btn btn-market mt-1 text-light  btn-comprar btn-size" id="1">
                                  Abrir <strong class="strong-inve">1/<%= tesoro4%></strong>
                                </button>
                                <% }else{%>
                                  <div class="container" >
                                    <div class="row align-items-center row-inventario" >
                                      <div class="col">
                                         <h4><i class="fas fa-bug text-light"></i></h4>
                                        <h5 class="h4-inventario text-light">No tienes Tesoros #4</h5>
                                      </div>
                                    </div>
                                    
                                  </div>
                                  
                                <%} %>
                          </div>

                          <div class="col-md-3 div-items mr-lg-4 ml-lg-4 mb-4 bg-market border-mar">
                            <% if(tesoro5 > 0){ %>
                              <img src="/img/ticket3.png" class="img-fluid img-inventario mt-3" alt="">
                                <h6 class="card-title text-light h5-inventario">Tesoro #5</h6>
                                <button class="btn btn-market mt-1 text-light  btn-comprar btn-size" id="1">
                                  Abrir <strong class="strong-inve">1/<%= tesoro5%></strong>
                                </button>
                                <% }else{%>
                                  <div class="container" >
                                    <div class="row align-items-center row-inventario" >
                                      <div class="col">
                                        <h4 class="h4-inventario text-light">No tienes Tesoros #5</h4>
                                      </div>
                                    </div>
                                    
                                  </div>
                                  
                                <%} %>
                          </div>
                          
                          <div class="col-md-3 div-items mr-lg-4 ml-lg-4 mb-4 bg-market border-mar">
                            <% if(tesoro6 > 0){ %>
                              <img src="/img/ticket3.png" class="img-fluid img-inventario mt-3" alt="">
                                <h6 class="card-title text-light h5-inventario">Tesoro #6</h6>
                                <button class="btn btn-market mt-1 text-light  btn-comprar btn-size" id="1">
                                  Abrir <strong class="strong-inve">1/<%= tesoro6%></strong>
                                </button>
                                <% }else{%>
                                  <div class="container" >
                                    <div class="row align-items-center row-inventario" >
                                      <div class="col">
                                        <h4><i class="fas fa-bug text-light"></i></h4>
                                        <h5 class="h4-inventario text-light">No tienes Tesoros #6</h5>
                                      </div>
                                    </div>
                                    
                                  </div>
                                  
                                <%} %>
                          </div>
  

                    </div>
                    
                  </div>
                  <div class="tab-pane fade m-2" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
                  <div class="tab-pane fade m-2" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
                </div>
              </div> 
        
        </div>
        <div class="col-md-3  div-inve  mb-2 bg-market2 border-mar2">
            <div class="row justify-content-center text-center">
                <div class="col-md-12 mt-4 mb-3 ">
                    <img src="<%= user.avatarfull%>" class="border-user img-fluid" alt="img-fluid">
                </div>
                <div class="col-md-12 text-light mt-3">
                    <h3> <%= user.personaname%></h3>
                    <h5 class="text-primary">Level <%= level%></h5>
                </div>
                <div class="col-md-12 mt-4 text-light">
                    <h5>No has agregado URL de trade de Steam</h5>
                    <button class="btn btn-market text-light mt-3" id="url">Agregar URL</button>
                </div>
            </div>
        </div>

    </div>
    



    <footer class="text-white text-center footer">
    
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2022 Copyright:
            <img src="/img/logo.png" class=" img-logo-footer" alt="">
        </div>
        <!-- Copyright -->
    </footer>
    <%- include('scripts.ejs'); -%>
    <script>
        $(document).ready(function () {
          

          $(".btn-comprar").click(function () {
            alert($(this).attr("id"));
          });
      

          $(`#url`).on('click',async function (e) {
                e.preventDefault();
                 
                 Swal.fire({
                    html: '<strong class="text-light platabord"><a href="https://steamcommunity.com/profiles/<%= user.steamid%>/tradeoffers/privacy#trade_offer_access_url" target="_blank">URL</a> de intercambio steam</strong>',
                    input: 'url',
                    background: "#503D75",
                    inputPlaceholder:"Example: https://steamcommunity.com/tradeoffer/new/?partner=1022713549&token=3zVL1W",
                    showCancelButton: true,
                    confirmButtonText: '<i class="far fa-edit"></i> Save',
                    cancelButtonText: '<i class="fas fa-ban"></i> Cancel',
                    denyButtonText: `Don't save`,
                    customClass: {
                    input: "text-light ",
                    cancelButton: "bg-danger"
                    }}).then((result) => {
                        if (result.isConfirmed) {
                            alert(result.value)
                    //       $.ajax({
                    //       url: '/url',
                    //       method: 'POST',
                    //       data: {
                    //       url: result.value,
                    //       },success: function (response) {
                    //           Swal.fire({title:`${response.estado}`,  showConfirmButton: false, toast: true, icon:'success',background:"#343A40",timer: 3000,  customClass: { title: "text-light"}})

                    //      }
                    // })
                  } 
                })
             })

       })
    </script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>