<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('header.ejs'); -%>
    <title>Document</title>
</head>
<body>
    <%- include('nav.ejs'); -%>  

    <div class="row justify-content-center mt-4 ml-1 mr-1 mb-4">
        <div class="col-md-12 text-light text-center mb-3 border border-primary">
            Publicidad #1
        </div>
        <div class="col-md-12 row justify-content-between ">
            <div class="col-md-2  border border-primary div-publi">Publicidad #2</div>
            
            <div class="col-md-6 ">
                <div class="col-sm-8 col-md-12 mt-4 mb-4 rounded  div-cronometro text-center">
                    <img src="./img/<%= img%>" alt="" class="img-recolectar mt-3">
                    <br>
                    <span class="span-cronometro">Felicitaciones has recolectado <%= detalle%>..!</span>
                    <br>
                    <a href="/inventario" class="btn btn-market mt-2 mb-4 text-light">Ir a inventario</a>
                </div>

                <div class="col-md-12 row justify-content-around mt-4">
                    <div class="col-md-5 border border-primary mt-4 div-publi2 ">Publicidad #5</div>
                    <div class="col-md-5 border border-primary mt-4 div-publi2">Publicidad #6</div>
                </div>
             
            </div>
            <div class="col-md-2  border border-primary">Publicidad #3 </div>
        </div>
       
    </div>


    <footer class="text-white text-center footer">
    
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2022 Copyright:
            <img src="/img/logo.png" class=" img-logo-footer" alt="">
        </div>
        <!-- Copyright -->
    </footer>
    <%- include('scripts.ejs'); -%>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>